$color: black;
$blackLight: #6b6b6b;
$bcgHeader: #fafafa;
$bcgSubmenu: #eaf1f9;
$boxShadow: 0 9px 10px 0 rgba(79, 79, 79, 0.59);
$boxShadowButt: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
$maxLines: 3;
$maxLinesPresentation: 6;
$lineHeight: 28px;
$bcgHover: #fbf4bb;
$bcgButt: #821b1b;
